/* src/pages/CustomerPortal/styles.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.animate-slide-up {
  animation: slideUp 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes drive {
  0% {
    transform: translateX(-3px) translateY(0);
  }
  25% {
    transform: translateX(0) translateY(-1px);
  }
  50% {
    transform: translateX(3px) translateY(0);
  }
  75% {
    transform: translateX(0) translateY(1px);
  }
  100% {
    transform: translateX(-3px) translateY(0);
  }
}
.animate-drive {
  animation: drive 1.5s infinite linear;
}

@keyframes roadMove {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.animate-road-move {
  animation: roadMove 0.8s infinite linear;
}